# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List of popular languages for Data Science
- List of popular libraries for Data Scientists
- List of Data Science enviroiment tools
- Examples of arithmetic operations in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. MatPlotLib
4. Seaborn

|Data Science Tools|
-------------------
|Jupyter NoteBook|
|RStudio|
|Zeppelin NoteBook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [16]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [24]:
# This will convert 200 minutes to hours by diving by 60
t_minutes = 200
t_hours = t_minutes/60 
print(" Time in hours ", t_hours)

 Time in hours  3.3333333333333335

## Author
Nithin Kamaraj